<aside class="sidebar">
  <div class="logo-container">
    <img  class = "img-logo" src="/img/logo.png">
  </div>
  
  <div class="nav-section">
    <ul class="nav-list">
      <li class="nav-item active"><a>Tickets</a></li>
      <li class="nav-item"><a>Asignaciones</a></li>
      <li class="nav-item"><a>Inventario</a></li>
      <li class="nav-item"><a>Usuarios</a></li>
      <li class="nav-item"><a>Reportes</a></li>
      <li class="nav-item"><a>Configuración</a></li>
    </ul>
  </div>
</aside>