<aside class="sidebar">
  <div class="logo-container">
    <img  class = "img-logo" src="/img/logo.png">
  </div>
  
  <div class="nav-section">
    <ul class="nav-list">
      <li class="nav-item"><a href="/clientes/">Clientes</a></li>
      <li class="nav-item"><a href="/planes/">Planes</a></li>
      <li class="nav-item"><a>Clientes Deudores</a></li>
      <li class="nav-item"><a>Actualizar Datos</a></li>
      <li class="nav-item dropdown">
        <a>Bodega</a>
        <ul class="submenu">
          <li class="submenu-item"><a>Consumibles</a></li>
          <li class="submenu-item"><a>No Consumibles</a></li>
        </ul>
      </li>
      <li class="nav-item"><a>Permisos</a></li>
      <li class="nav-item"><a>Proformas</a></li>
      <li class="nav-item"><a>Cuadrillas</a></li>
      <li class="nav-item"><a href="/tickets/">Ver Tickets</a></li>
      <li class="nav-item"><a>Plataformas Streaming</a></li>
      <li class="nav-item"><a href="/auth/register">Registrar usuario</a></li>
    </ul>
  </div>
</aside>