<aside class="sidebar">
  <div class="logo-container">
    <img  class = "img-logo" src="/img/logo.png">
  </div>
  
  <div class="nav-section">
    <ul class="nav-list">
      <li class="nav-item"><a>Flujo de Caja</a></li>
      <li class="nav-item"><a>Reclamos Arcotel</a></li>
      <li class="nav-item"><a>Nuevos/Retirados</a></li>
      <li class="nav-item"><a>Facturas de Internet</a></li>
      <li class="nav-item"><a>Facturas Otros Servicios</a></li>
      <li class="nav-item"><a>Clientes, Planes y Recaudaciones</a></li>
      <li class="nav-item"><a>Permisos y Vacaciones</a></li>
      <li class="nav-item"><a>Rendimiendo de Trabajadores</a></li>
      <li class="nav-item"><a>Promociones y Autorizaciones</a></li>
      <li class="nav-item"><a>Roles de Pago</a></li>
      <li class="nav-item"><a >Multas y Memos</a></li>
      <li class="nav-item"><a href="/auth/register">Registrar usuario</a></li>

      
    </ul>
  </div>
</aside>