<aside class="sidebar">
  <div class="logo-container">
    <img  class = "img-logo" src="/img/logo.png">
  </div>
  
  <div class="nav-section">
    <ul class="nav-list">
      <li class="nav-item active"><a>Equipos</a></li>
      <li class="nav-item"><a>Ver Equipos</a></li>
      <li class="nav-item"><a>Asignar Equipos</a></li>
      <li class="nav-item"><a>Bodega</a></li>
      <li class="nav-item"><a>Consumibles</a></li>
      <li class="nav-item"><a>No Consumibles</a></li>
      <li class="nav-item"><a>Reporte VEINC</a></li>
      <li class="nav-item"><a>Permisos</a></li>
      <li class="nav-item"><a>Solicitar Permiso</a></li>
      <li class="nav-item"><a>Roles de Pago</a></li>
      <li class="nav-item"><a>Horas Extra</a></li>
    </ul>
  </div>
</aside>