<aside class="sidebar">
  <div class="logo-container">
    <img class="img-logo" src="/img/logo.png">
  </div>
  
  <div class="nav-section">
    <ul class="nav-list">
      <li class="nav-item"><a href="/tecnico">Tickets</a></li>
      <li class="nav-item dropdown">
        <a>Equipos</a>
        <ul class="submenu">
          <li class="submenu-item"><a>Ver Equipos</a></li>
          <li class="submenu-item"><a>Asignar Equipos</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a>Bodega</a>
        <ul class="submenu">
          <li class="submenu-item"><a>Consumibles</a></li>
          <li class="submenu-item"><a>No Consumibles</a></li>
        </ul>
      </li>
      <li class="nav-item"><a>Reporte Vehicular</a></li>
      <li class="nav-item dropdown">
        <a>Permisos</a>
        <ul class="submenu">
          <li class="submenu-item"><a>Solicitar Permisos</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a>Roles de Pago</a>
        <ul class="submenu">
          <li class="submenu-item"><a>Horas Extra</a></li>
        </ul>
      </li>
    </ul>
  </div>
</aside>