<aside class="sidebar">
  <div class="logo-container">
    <img  class = "img-logo" src="/img/logo.png">
  </div>
  
  <div class="nav-section">
    <ul class="nav-list">
      <li class="nav-item active"><a>Mis Tickets</a></li>
      <li class="nav-item"><a>Equipos</a></li>
      <li class="nav-item"><a>Consumibles</a></li>
      <li class="nav-item"><a>Solicitar Permiso</a></li>
    </ul>
  </div>
</aside>