<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZULCOM - Técnico</title>
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
  <div class="dashboard-container">
    <%- include('../partials/navtecnico') %>
    
    <main class="main-content">
      <header class="content-header">
        <h1>PANEL TÉCNICO</h1>
        <div class="user-actions">
          <div>
            <a href="/auth/change-password"><img src="/img/logo-perfil.png" alt="Logo Perfil" class="img-perfil"></a>
          </div>
          
          <% if (user && user.nombres && user.apellidos) { %>
            <span class="user-name">Técnico: <%= user.nombres %> <%= user.apellidos %></span>
          <% } %>
          <a href="/auth/logout" class="logout-btn" onclick="return confirm('¿Estás seguro de cerrar sesión?')">Cerrar Sesión</a>
        </div>
      </header>

      <div class="dashboard-content">
        <!-- Contenido específico -->
      </div>
    </main>
  </div>
</body>
</html>