NODE_ENV = development
PORT=3001
DB_URI = 
DB_URI_TEST = 
PUBLIC_URL = http://localhost:3001
JWT_SECRET= LlaveMaestra
SLACK_WEBHOOK = https://hooks.slack.com/services/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
MYSQL_DATABASE = zulcom_prueba
MYSQL_DATABASE_TEST = zulcom_testing
MYSQL_USER = root
MYSQL_PASSWORD = 
MYSQL_HOST = localhost
ENGINE_DB= mysql